<% userinfo=JSON.parse(@user.user_info) %>
<% userhash=userinfo["user_hash"] %>



<div class="linked_inbody">
	<h2>LinkedIn</h2>
	<% userinfo.each do |infoe| %>
		<p><%= infoe.inspect %></p><br />
	<% end %>
	
</div>
