defaults: &defaults
  ##host: localhost
  # slaves:
  #   - host: slave1.local
  #     port: 27018
  #   - host: slave2.local
  #     port: 27019

development:
  <<: *defaults
  database: rails3_mongoid_omniauth_development

test:
  <<: *defaults
  database: rails3_mongoid_omniauth_test

# set these environment variables on your prod server
production:
  uri: 		<%= ENV['MONGHQ_URL'] %>